{% extends 'base.html' %} 

{% block seccion %}
{% if form.instance.pk %}
  Modificar aspirante
{% else %}
  Agregar aspirante
{% endif %}
{% endblock seccion %}

{% block opciones %}
<li><a href="{% url 'personas:lista_aspirantes' %}"><i class="material-icons left">arrow_back</i> Volver</a></li>
<li><a href="{% url 'personas:aceptar_aspirante' form.instance.pk %}"><i class="material-icons left">check</i> Aceptar</a></li>
<li><a id="eliminar" data-target="{% url 'personas:eliminar_aspirante' form.instance.pk %}"><i class="material-icons left">block</i> Rechazar</a></li>
{% endblock opciones %}

{% block body %}
<form method="POST" enctype='multipart/form-data'>
  {% csrf_token %}
      <div class="row">
        <div class="col s12 m3">
          {% with form.primer_nombre as input %}
            {% include 'includes/input.html' %} 
          {% endwith %}
        </div>
        <div class="col s12 m3">
          {% with form.segundo_nombre as input %}
            {% include 'includes/input.html' %} 
          {% endwith %}
        </div>
        <div class="col s12 m3">
          {% with form.primer_apellido as input %}
            {% include 'includes/input.html' %} 
          {% endwith %}
        </div>
        <div class="col s12 m3">
          {% with form.segundo_apellido as input %}
            {% include 'includes/input.html' %} 
          {% endwith %}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          {% with form.tipo_identificacion as input %}
            {% include 'includes/input.html' %} 
          {% endwith %}
        </div>
        <div class="col s12 m6">
          {% with form.numero_identificacion as input %}
            {% include 'includes/input.html' %} 
          {% endwith %}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          {% with form.telefono as input %}
            {% include 'includes/input.html' %} 
          {% endwith %}
        </div>
        <div class="col s12 m6">
          {% with form.correo as input %}
            {% include 'includes/input.html' %} 
          {% endwith %}
        </div>
        <div class="col s12">
          <button type="submit" class="btn btn-primary pull-right" style="border-radius: 20px !important;">
            <i class="fa fa-save"></i> Guardar
          </button>
        </div>
      </div>
</form>
{% endblock body %} 


{% block script %}
<script>
  $('#eliminar').on('click', function(e){
    let url = $(this).attr('data-target');
    e.preventDefault();
    {% if form.instance.estado %}
    swal({
      title: "¿Eliminar?",
      text: '¿Esta por rechazar este aspirante permanentemente, desea continuar?', 
      icon: "warning",
      buttons: ["Cancelar", "Rechazar"],
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        window.location.href = url;
      }
    });
    {% else %}
    window.location.href = url;
    {% endif %}
  });
</script>
{% endblock %}