{% extends 'base.html' %}

{% block seccion %}
  Directores
{% endblock seccion %}

{% block opciones %}
<li><a href="{% url 'personas:agregar' %}"><i class="material-icons right">add</i></a></li>
{% endblock opciones %}

{% block body %}
<div class="card">
  <div class="card-content">
    <table class="striped datatables ui celled table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre Completo</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Grupo</th>
          <th>Estado</th>
          {% if 'personas.change_persona' in request.user.get_all_permissions or 'personas.delete_persona' in request.user.get_all_permissions %}
          <th>Opciones</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ object.get_nombre_completo }}</td>
          <td>{{ object.correo }}</td>
          <td>{{ object.telefono }}</td>
          <td>{{ object.nombre }}</td>
          <td>
            {% if object.estado %}
              Activo
            {% else %}
              Inactivo
            {% endif %}
          </td>
          <td>
            {% comment %}
            {% if 'personas.change_persona' in request.user.get_all_permissions %}
            <a href="{% url 'personas:editar' object.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
            {% endif %}
            {% if 'personas.delete_persona' in request.user.get_all_permissions %}
            <a href="{% url 'personas:eliminar' object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled {% else %} {% endif %}"><i class="fa fa-trash"></i></a>
            {% endif %}
            {% endcomment %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}