{% extends 'base.html' %}

{% block body %}
<table class="table datatables" style="">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Estado</th>
      {% if 'personas.change_rol' in request.user.get_all_permissions or 'personas.delete_rol' in request.user.get_all_permissions %}
      <th>Opciones</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ object.nombre }}</td>
        <td>{{ object.descripcion|default:'Sin descripción' }}</td>
        <td>
          {% if object.estado %}
            Activo
          {% else %}
            Inactivo
          {% endif %}
        </td>
        <td>
          {% if 'personas.change_rol' in request.user.get_all_permissions %}
          <a href="{% url 'personas:editar_rol' object.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if 'personas.delete_rol' in request.user.get_all_permissions %}
          <a href="{% url 'personas:eliminar_rol' object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled"{% else %}"{% endif %}><i class="fa fa-trash"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}