{% extends 'base.html' %}

{% load humanize %}

{% block body %}
<div class="borde">
  <div class="row" style="margin-left: 10px;">
    <div class="col-12">
      <h4 id="titulos">Categorías:</h4>
      <div class="table-title">
        <label> </label>
      </div>
    </div>
  </div>
  <table class="table datatables">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Valor Cuota</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ object.nombre }}</td>
        <!--<td>{{ object.descripcion|default:'Sin descripción' }}</td>-->
        <td>{{ object.valor_cuota|intcomma }}</td>
        <td>
          {% if object.estado %}
            Activo
          {% else %}
            Inactivo
          {% endif %}
        </td>
        <td>
          {% if 'grupos.change_categoria' in request.user.get_all_permissions %}
          <a href="{% url 'grupos:editar_categorias' object.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if 'grupos.delete_categoria' in request.user.get_all_permissions %}
          <a href="{% url 'grupos:eliminar_categoria' object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled" {% else %} "{% endif %}"><i class="fa fa-trash"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}