{% extends 'base.html' %}

{% block body %}
<div class="borde">
  <div class="row" style="margin-left: 10px;">
    <div class="col-12">
      <h4 id="titulos">Grupos:</h4>
      <div class="table-title">
        <label> </label>
      </div>
    </div>
  </div>
  <table class="table datatables">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Fecha de creación</th>
        <th>Cant. Inscritos</th>
        <th>Estado</th>
        {% if 'grupos.change_grupo' in request.user.get_all_permissions or 'grupos.delete_grupo' in request.user.get_all_permissions %}
        <th>Opciones</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ object.nombre }}</td>
          <!--<td>{{ object.descripcion|default:'Sin descripción' }}</td>-->
          <td>{{ object.categoria }}</td>
          <td>{{ object.fecha_creacion | date:'d/m/y' }}</td>
          <td>10</td>
          <td>
            {% if object.estado %}
              Activo
            {% else %}
              Inactivo
            {% endif %}
          </td>
          <td>
            {% if 'grupos.change_grupo' in request.user.get_all_permissions %}
            <a href="{% url 'grupos:editar' object.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
            {% endif %}
            {% if 'grupos.delete_grupo' in request.user.get_all_permissions %}
            <a href="{% url 'grupos:eliminar_grupo' object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled {% else %} {% endif %}"><i class="fa fa-trash"></i></a>
            {% endif %}
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}