{% extends 'base.html' %}

{% block seccion %}
  Grupos
{% endblock seccion %}

{% block opciones %}
<li><a href="{% url 'grupos:agregar' %}"><i class="material-icons left">add</i> Agregar</a></li>
{% endblock opciones %}

{% block body %}
  <table class="striped datatables ui celled table">
      <thead>
        <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Fecha de creación</th>
        <th>Cant. Inscritos</th>
        <th>Estado</th>
        {% if 'grupos.change_grupo' in request.user.get_all_permissions or 'grupos.delete_grupo' in request.user.get_all_permissions %}
        <th>Opciones</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ object.nombre }}</td>
          <!--<td>{{ object.descripcion|default:'Sin descripción' }}</td>-->
          <td>{{ object.categoria }}</td>
          <td>{{ object.fecha_creacion | date:'d/m/y' }}</td>
          <td>{{ object.estudiantes.all|length }}</td>
          <td>
            {% if object.estado %}
              Activo
            {% else %}
              Inactivo
            {% endif %}
          </td>
          <td>
            <div style="width: 100%;">
              <div style="width: 75%; margin: auto !important; display: flex;">
            {% if 'grupos.change_grupo' in request.user.get_all_permissions %}
            <!--<a href="{% url 'grupos:editar' object.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>-->
            <a href="{% url 'grupos:editar' object.pk %}" class="btn btn-warning" role="button"
            style="background-color: rgba(255, 69, 0, 0.7); width: 0px !important; height: 35px !important; border-radius: 10px !important;">                  
            <i class="fa fa-edit" style="margin-left: -7px;"></i></a>
            {% endif %}
            {% if 'grupos.delete_grupo' in request.user.get_all_permissions %}
            <!--<a href="{% url 'grupos:eliminar_grupo' object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled {% else %} {% endif %}"><i class="fa fa-trash"></i></a>-->
            <a href="{% url 'grupos:eliminar_grupo'  object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled {% else %} {% endif %}" role="button"
            style="background-color: #db2828; width: 0px !important; height: 35px !important; border-radius: 10px !important; margin-left: 10px;">                  
            <i class="fa fa-trash" style="margin-left: -7px;"></i></a>
            {% endif %}
            </div>
            </div>
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock body %}