{% load static %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Amuse</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/chosen/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"/>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'generales:home' %}">Amuse</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if 'grupos.view_grupo' in request.user.get_all_permissions or 'grupos.add_grupo' in request.user.get_all_permissions %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Personas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if 'personas.view_persona' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'personas:lista' %}">Listar personas</a>
              {% endif %}
              {% if 'personas.add_persona' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'personas:agregar' %}">Agregar persona</a>
              {% endif %}
              {% if 'personas.view_persona' in request.user.get_all_permissions or 'personas.add_persona' in request.user.get_all_permissions %}
              <div class="dropdown-divider"></div>
              {% endif %}
              {% if 'personas.view_rol' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'personas:lista_roles' %}">Listar roles</a>
              {% endif %}
              {% if 'personas.add_rol' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'personas:agregar_rol' %}">Agregar roles</a>
              {% endif %}
            </div>
          </li>
          {% endif %}
          {% if 'grupos.view_grupo' in request.user.get_all_permissions or 'grupos.add_grupo' in request.user.get_all_permissions %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grupos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if 'grupos.view_grupo' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'grupos:lista' %}">Listar grupos</a>
              {% endif %}
              {% if 'grupos.add_grupo' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'grupos:agregar' %}">Agregar grupo</a>
              {% endif %}
              {% if 'grupos.view_grupo' in request.user.get_all_permissions or 'grupos.add_grupo' in request.user.get_all_permissions %}
              <div class="dropdown-divider"></div>
              {% endif %}
              {% if 'grupos.view_categoria' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'grupos:lista_categorias' %}">Listar categorias</a>
              {% endif %}
              {% if 'grupos.add_categoria' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'grupos:agregar_categorias' %}">Agregar categoria</a>
              {% endif %}
              {% if 'grupos.view_categoria' in request.user.get_all_permissions or 'grupos.add_categoria' in request.user.get_all_permissions %}
              <div class="dropdown-divider"></div>
              {% endif %}
              {% if 'grupos.view_pago' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'grupos:lista_categorias' %}">Listar pagos</a>
              {% endif %}
              {% if 'grupos.add_pago' in request.user.get_all_permissions %}
              <a class="dropdown-item" href="{% url 'grupos:agregar_categorias' %}">Agregar pago</a>
              {% endif %}
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container-fluid" style="margin-top: 25px">
      {% block body %}
      {% endblock body %}
    </div>
    <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'vendors/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    
    <script>
      $('.chosen-select').chosen();
      $('.datatables').DataTable({
        "language": {
            "url": "{% static 'vendors/datatables/spanish.js' %}"
        }
      });
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy'
      });
    </script>
    {% block script %}
    {% endblock script %}
  </body>
</html>
