{% load static %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" name="keywords" content="Teatro, Cultura, Dramaturgia, Tunja, Corporacion Cultural">
    <title>Amuse</title>
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static 'vendors/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'vendors/materialize/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/materialize/css/ghpages-materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables/DataTables-1.10.16/css/dataTables.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/chosen.min.css' %}">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'vendors/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/style.css' %}"/>
    <style>
      body {
        background-image: url('{% static "img/fondo.png" %}');
        background-repeat: no-repeat; 
        /*background-position-x: 300px;*/
      }
      #mobile-demo{
        background-color: #f1eaea;
      }
      .input input {
        height: auto !important;
        margin-left: -30px !important;
      }
      #DataTables_Table_0_length {
        display: none;
      }
      .ui.grid>.row {
        margin-bottom: 0;
      }
    </style>
    {% block head %}
    {% endblock head %}
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="menu button-collapse top-nav waves-effect waves-light circle" 
          style="z-index: 999; display: inline-block; left: 20px; top: 0;height: auto;">
          <i class="material-icons">menu</i>
          </a>
          <a href="#!" class="brand-logo hide-on-med-and-down">{% block seccion %}{% endblock seccion %}</a>
          <ul class="right">
            {% block opciones %}{% endblock opciones %}
          </ul>
          <div class="container"></div>
          <ul id="mobile-demo" class="side-nav">
            <li class="logo" style="height: 100px;"><a id="logo-container" href="/" class="brand-logo">
              <img src="{% static 'img/titulo.png' %}" style="max-width: 100%;">
            {% if request.user.is_authenticated %}
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><strong>{{ request.user.username }}</strong></a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="{% url 'cuentas:cuenta' %}">Mi cuenta</a></li>
                        <li><a href="{% url 'cuentas:logout' %}">Cerrar sesión</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="bold"><a href="{% url 'generales:home' %}" class="waves-effect waves-teal"><strong>Inicio</strong></a></li>
            {% else %}
            <li class="bold"><a href="{% url 'generales:inicial' %}" class="waves-effect waves-teal"><strong>Inicio</strong></a></li>
            {% endif %}

            {% if 'personas.view_persona' in request.user.get_all_permissions %}
            <li class="bold"><a href="{% url 'personas:lista' %}" class="waves-effect waves-teal"><strong>Directores</strong></a></li>
            {% endif %}
            {% if 'personas.view_persona' in request.user.get_all_permissions %}
            <li class="bold"><a href="{% url 'personas:lista_aprendiz' %}" class="waves-effect waves-teal"><strong>Aprendices</strong></a></li>
            {% endif %}
            {% if 'personas.view_persona' in request.user.get_all_permissions %}
            <li class="bold"><a href="{% url 'personas:lista_aspirantes' %}" class="waves-effect waves-teal"><strong>Aspirantes</strong></a></li>
            {% endif %}
            {% if 'personas.view_persona' in request.user.get_all_permissions %}
            <li class="bold"><a href="{% url 'personas:lista' %}" class="waves-effect waves-teal"><strong>Acudientes</strong></a></li>
            {% endif %}
            {% if 'grupos.view_grupo' in request.user.get_all_permissions %}
            <li class="bold"><a href="{% url 'grupos:lista' %}" class="waves-effect waves-teal"><strong>Grupos</strong></a></li>
            {% endif %}
            {% if 'grupos.view_categoria' in request.user.get_all_permissions %}
            <li class="bold"><a href="{% url 'grupos:lista_categorias' %}" class="waves-effect waves-teal"><strong>Categorias</strong></a></li>
            {% endif %}
            {% if 'personas.view_tarea' in request.user.get_all_permissions %}
            <li class="bold"><a href="{% url 'personas:lista_tareas' %}" class="waves-effect waves-teal"><strong>Tareas</strong></a></li>
            {% endif %}
            {% if 'proyectos.view_proyecto' in request.user.get_all_permissions %}
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><strong>Proyectos</strong></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="{% url 'proyectos:lista' %}">Proyectos</a></li>
                      <li><a href="{% url 'proyectos:lista_personajes' %}">Personajes</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if 'grupos.view_pago' in request.user.get_all_permissions %}
            <li class="bold"><a href="{% url 'grupos:lista_pagos' %}" class="waves-effect waves-teal"><strong>Pagos</strong></a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

   <!--    <li>
              <a href="#">Tareas
                 <span class="fa fa-arrow-right"></span>
              </a>
               <ul class="collapse">
                    <li><a href="#">Historial Tareas</a></li>
                    <li><a href="#">Crear Tareas</a></li>
                </ul>            
            </li> -->

        <main style="margin-top: -7px;">
          <div class="container">
             <div class="card" style="border-radius: 10px;">
               <div class="card-content">
                {% block body %}
                {% endblock body %}
              </div>
            </div>
          </div>
        </main>


<div class="modal fade" id="editarPerfil-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--{% include 'includes/acudiente_form.html' %}-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="guardar-acudiente">Editar</button>
      </div>
    </div>
  </div>
</div>
  
  <script src="{% static 'vendors/js/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/js/js.js' %}"></script>
  <script src="{% static 'vendors/js/chosen.jquery.min.js' %}"></script>
  <script src="{% static 'vendors/materialize/js/materialize.min.js' %}"></script>
  <script src="{% static 'vendors/datatables/DataTables-1.10.16/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables/DataTables-1.10.16/js/dataTables.semanticui.min.js' %}"></script>
  <!--<script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables/DataTables-1.10.16/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/js/metisMenu.min.js' %}"></script>
  <script src="{% static 'vendors/js/toastr.min.js' %}"></script>
  <script src="{% static 'vendors/js/popper.min.js' %}"></script>-->
  <script src="{% static 'vendors/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'vendors/js/sweetalert.min.js' %}"></script>
  <script src="{% static 'vendors/js/script.js' %}"></script>
  
    <script>
        /*$(function () {
            $('#menu').metisMenu();
        });*/
    </script>
    <script>
      $(".button-collapse").sideNav();
      $('.chosen-select').chosen();
      $(document).ready(function() {
        $('.material-select').material_select();
      });
      $('.datatables').DataTable({
        "language": {
            "url": "{% static 'vendors/datatables/spanish.js' %}",
            "bLengthChange": false,
            "lengthChange": false,
        }
      });
       $('.mydatepicker').pickadate({
         format: 'dd/mm/yyyy',
         formatSubmit: 'dd/mm/yyyy',
       });
    </script>
    {% block script %}
    {% endblock script %}
  </body>
</html>