{% load static %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" name="keywords" content="Teatro, Cultura, Dramaturgia, Tunja, Corporacion Cultural">
    <title>Amuse</title>
    <meta name="description" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static 'vendors/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'vendors/materialize/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/materialize/css/ghpages-materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables/DataTables-1.10.16/css/dataTables.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/chosen.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/style.css' %}"/>
    <style>
      body {
        background-image: url('{% static "img/fondo.png" %}');
        background-repeat: no-repeat; 
        background-position-x: 300px;
      }
      #nav-mobile{
        background-color: #f1eaea;
      }
      .input input {
        height: auto !important;
        margin-left: -30px !important;
      }
      #DataTables_Table_0_length {
        display: none;
      }
      .ui.grid>.row {
        margin-bottom: 0;
      }
    </style>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">{% block seccion %}{% endblock seccion %}</a>
          <ul class="right hide-on-med-and-down">
            {% block opciones %}{% endblock opciones %}
          </ul>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="/" class="brand-logo">
          <img src="{% static 'img/titulo.png' %}" style="max-width: 100%;">
        <li class="bold"><a href="{% url 'generales:home' %}" class="waves-effect waves-teal"><strong>Inicio</strong></a></li>
        {% if 'personas.view_persona' in request.user.get_all_permissions %}
        <li class="bold"><a href="{% url 'personas:lista' %}" class="waves-effect waves-teal"><strong>Directores</strong></a></li>
        {% endif %}
        {% if 'personas.view_persona' in request.user.get_all_permissions %}
        <li class="bold"><a href="{% url 'personas:lista_aprendiz' %}" class="waves-effect waves-teal"><strong>Aprendices</strong></a></li>
        {% endif %}
        {% if 'personas.view_persona' in request.user.get_all_permissions %}
        <li class="bold"><a href="{% url 'personas:lista_aspirantes' %}" class="waves-effect waves-teal"><strong>Aspirantes</strong></a></li>
        {% endif %}
        {% if 'grupos.view_grupo' in request.user.get_all_permissions %}
        <li class="bold"><a href="{% url 'grupos:lista' %}" class="waves-effect waves-teal"><strong>Grupos</strong></a></li>
        {% endif %}
        {% if 'grupos.view_categoria' in request.user.get_all_permissions %}
        <li class="bold"><a href="{% url 'grupos:lista_categorias' %}" class="waves-effect waves-teal"><strong>Categorias</strong></a></li>
        {% endif %}
        {% if 'proyectos.view_proyecto' in request.user.get_all_permissions %}
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><strong>Proyectos y personajes</strong></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="{% url 'proyectos:lista' %}">Proyectos</a></li>
                  <li><a href="{% url 'proyectos:lista_personajes' %}">Personajes</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        {% endif %}
        {% if 'grupos.view_pago' in request.user.get_all_permissions %}
        <li class="bold"><a href="{% url 'grupos:lista_pagos' %}" class="waves-effect waves-teal"><strong>Pagos</strong></a></li>
        {% endif %}
        <li class="bold"><a href="{% url 'cuentas:logout' %}" class="waves-effect waves-teal"><strong>Cerrar sesión</strong></a></li>
      </ul>
    </header>



   <!--
              {% if 'grupos.view_grupo' in request.user.get_all_permissions or 'grupos.add_grupo' in request.user.get_all_permissions %}
            <li>
              <a href="#">Grupos
                 <span class="fa fa-arrow-right"></span>
              </a>
               <ul class="collapse">
                    {% if 'grupos.view_grupo' in request.user.get_all_permissions %}
                    <li><a href="{% url 'grupos:lista' %}">Listar Grupos</a></li>
                    {% endif %}
                    {% if 'grupos.add_grupo' in request.user.get_all_permissions %}
                    <li><a href="{% url 'grupos:agregar' %}">Crear Grupos</a></li>
                    {% endif %}
                </ul>            
            </li>
              {% endif %}
              {% if 'grupos.view_categoria' in request.user.get_all_permissions or 'grupos.add_categoria' in request.user.get_all_permissions %}
            <li>
              <a href="#">Categorías
                 <span class="fa fa-arrow-right"></span>
              </a>
               <ul class="collapse">
                    {% if 'grupos.view_categoria' in request.user.get_all_permissions %}
                    <li><a href="{% url 'grupos:lista_categorias' %}">Listar Categorías</a></li>
                    {% endif %}
                    {% if 'grupos.add_categoria' in request.user.get_all_permissions %}
                    <li><a href="{% url 'grupos:agregar_categorias' %}">Crear Categorías</a></li>
                    {% endif %}
                </ul>            
            </li>
              {% endif %}

             <li>
              <a href="#">Tareas
                 <span class="fa fa-arrow-right"></span>
              </a>
               <ul class="collapse">
                    <li><a href="#">Historial Tareas</a></li>
                    <li><a href="#">Crear Tareas</a></li>
                </ul>            
            </li>
            <!--
            <li>
              <a href="#">Habilidades
                 <span class="fa fa-arrow-right"></span>
              </a>
               <ul class="collapse">
                    <li><a href="#">Listar Habilidades</a></li>
                    <li><a href="#">Crear Habilidades</a></li>
                </ul>            
            </li>   
              {% if 'grupos.view_pago' in request.user.get_all_permissions or 'grupos.add_pago' in request.user.get_all_permissions %}
              <li>
              <a href="#">Pagos
                 <span class="fa fa-arrow-right"></span>
              </a>
               <ul class="collapse">
                    {% if 'grupos.view_pago' in request.user.get_all_permissions %}
                    <li><a href="{% url 'grupos:lista_pagos' %}">Listar Pagos</a></li>
                    {% endif %}
                    {% if 'grupos.add_pago' in request.user.get_all_permissions %}
                    <li><a href="{% url 'grupos:agregar_pagos' %}">Crear Pagos</a></li>
                    {% endif %}
                </ul>            
            </li>    
            {% endif %}

            </ul>
        </nav>
      </div>       -->   
                    <!--             
     <div id="pageContent" class="col-md-10">
        <div id="barraSuperior" >
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a id="menu-toggle" href="#" class="nav-btn btn-dark btn-lg toggle">
                  <i class="fa fa-bars" style="color:#fff;margin-top: 20px;"></i>
                </a>
                <a id="menu-toggle" href="{% url 'generales:home' %}" class="nav-btn btn-dark btn-lg toggle">
                  <span style="font-weight: bold; color: black !important;">AMUSE</span>
                </a>                             
              </div>
              <ul class="nav navbar-nav navbar-right">                
                <li>
                  <a href="#">
                    <span><i class="fa fa-user"></i> {{ request.user.username|default:"--------" }}</span>
                  </a>
                </li>
                <li><div class="dropdown">
                  <a class="btn dropdown-toggle" id="dropOptions" type="button" data-toggle="dropdown">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#" data-toggle="modal" data-target="#editarPerfil-form-modal">Editar perfil</a><!--no funciona le modal
                    </li>
                    <li>
                      <a href="{% url 'cuentas:logout' %}">Cerrar sesión</a>
                    </li>
                  </ul>
                </div></li>
              </ul>
            </div>
          </nav>
        </div>-->
        <main style="margin-top: -7px;">
          <div class="container">
             <div class="card" style="border-radius: 10px;">
               <div class="card-content">
            {% block body %}
            {% endblock body %}
              </div>
            </div>
          </div>
        </main>
     </div>
  </div>

<div class="modal fade" id="editarPerfil-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--{% include 'includes/acudiente_form.html' %}-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="guardar-acudiente">Editar</button>
      </div>
    </div>
  </div>
</div>
</div>
  
  <script src="{% static 'vendors/js/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/js/js.js' %}"></script>
  <script src="{% static 'vendors/js/chosen.jquery.min.js' %}"></script>
  <script src="{% static 'vendors/materialize/js/materialize.min.js' %}"></script>
  <script src="{% static 'vendors/datatables/DataTables-1.10.16/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables/DataTables-1.10.16/js/dataTables.semanticui.min.js' %}"></script>
  <!--<script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables/DataTables-1.10.16/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/js/metisMenu.min.js' %}"></script>
  <script src="{% static 'vendors/js/toastr.min.js' %}"></script>
  <script src="{% static 'vendors/js/popper.min.js' %}"></script>-->
  <script src="{% static 'vendors/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'vendors/js/sweetalert.min.js' %}"></script>
  
    <script>
        /*$(function () {
            $('#menu').metisMenu();
        });*/
    </script>
    <script>
      $('.chosen-select').chosen();
      $(document).ready(function() {
        $('.material-select').material_select();
      });
      $('.datatables').DataTable({
        "language": {
            "url": "{% static 'vendors/datatables/spanish.js' %}",
            "bLengthChange": false,
            "lengthChange": false,
        }
      });
       $('.datepicker').datepicker({
         format: 'dd/mm/yyyy'
       });
    </script>
    {% block script %}
    {% endblock script %}
  </body>
</html>