{% extends 'base.html' %}

{% block body %}
<div class="row col m3 borde-Cajas" style="margin: 25px;color: black; background-color: rgba(130, 180, 0, 0.7);">
    <div class="row col m12" style="">
        <div class="borde-Cajas row col m12">
            <center><i class="fa fa-music fa-3x" aria-hidden="true"></i></center>
            <center><h4>Música</h4></center>
            <center><h5>10 Proyectos</h5></center>
        </div>
    </div>
    <div class="row col m12" style="">
        <div class="borde-Cajas row col m12">    
           <h5> <center><a class="button" href="" ><i class="fa fa-arrow-right" aria-hidden="true"
           style="color: forestgreen; font-weight: bold;">
               Ver Detalles</i></center></h5>
          
        </div>
    </div>
</div>

<div class="row col-md-3 borde-Cajas" style="margin: 25px; background-color: #a94442;">
    <div class="row col-md-12">
        <div class="borde-Cajas row col-md-12" style="color: white;">
            <center><i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i></center>
            <center><h4>Teatro</h4></center>
            <center><h5>15 Proyectos</h5></center>
        </div>
    </div>
    <div class="row col-md-12" style="">
        <div class="borde-Cajas row col-md-12">    
           <h5> <center><a class="button" href="" ><i class="fa fa-arrow-right" aria-hidden="true"
           style="color: #fdf59a; font-weight: bold;">
               Ver Detalles</i></center></h5>
          
        </div>
    </div>
</div>

<div class="row col-md-3 borde-Cajas" style="margin: 25px; background-color: rgba(204, 66, 0, 0.7);">
    <div class="row col-md-12">
        <div class="borde-Cajas row col-md-12" style="color: black;">
            <center><i class="fa fa-child fa-3x" aria-hidden="true"></i></center>
            <center><h4>Danza</h4></center>
            <center><h5>3 Proyectos</h5></center>
        </div>
    </div>
    <div class="row col-md-12" style="">
        <div class="borde-Cajas row col-md-12">    
           <h5> <center><a class="button" href="" ><i class="fa fa-arrow-right" aria-hidden="true"
           style="color: white; font-weight: bold;">
               Ver Detalles</i></center></h5>
          
        </div>
    </div>
</div>
{% endblock body %}