{% extends 'base.html' %}

{% load static %}

{% block body %}
{% for grupo in grupos %}
<div class="container">
  <div class="slider" style="margin-bottom: -55px !important;">
    <div class="col s4 m4" >
        <div class="row">
            <div class="col s10 m10">
                <div class="small card">
                    <div class="card-image">
                        <img src="{% static 'img/danza.jpg'%}">
                        <span class="card-title">{{ grupo.nombre }}</span>
                    </div>
                    <div class="card-content">
                        <center><h3>{{ grupo.get_numero_proyectos }} Proyectos</h3></center>
                    </div>
                    <div class="card-action">
                        <a href="#">{{ grupo.descripcion }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
{% endfor %}
{% endblock body %}