{% load static %}

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" name="keywords" content="Teatro, Cultura, Dramaturgia, Tunja, Corporacion Cultural">
    <title>Amuse</title>
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static 'vendors/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'vendors/materialize/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/materialize/css/ghpages-materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables/DataTables-1.10.16/css/dataTables.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/chosen.min.css' %}">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'vendors/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/style.css' %}"/>
    <!--<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Encode+Sans+Expanded|Monoton|Sarala|Special+Elite|Yrsa" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'vendors/googleapis.css' %}"/>
 </head>

<body>
  <header>

<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% static 'archivos/Actas.pdf' %}" target="_blank">Actas</a></li>
  <li><a href="{% static 'archivos/Análisis.pdf' %}" target="_blank">Análisis</a></li>
  <!-- <li><a href="#">Doc. General</a></li> -->
  <li><a href="{% static 'archivos/DCU.pdf' %}" target="_blank">Casos de Uso</a></li>
  <li><a href="{% static 'archivos/RF.pdf' %}" target="_blank">RF</a></li>
  <li><a href="{% static 'archivos/RNF.pdf' %}" target="_blank">RNF</a></li>
  <li><a href="{% static 'archivos/AmuseDB.png' %}" target="_blank">Base de Datos</a></li>
  <li><a href="{% static 'archivos/Prototipos.pdf' %}" target="_blank">Diseño</a></li>
  <!-- <li><a href="#!">Pruebas</a></li> -->
  <!-- <li><a href="#!">Video</a></li> -->
  <!-- <li class="divider"></li> -->
  <!-- <li><a href="#!">Preguntas</a></li> -->
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="{% static 'archivos/Actas.pdf' %}" target="_blank">Actas</a></li>
  <li><a href="{% static 'archivos/Análisis.pdf' %}" target="_blank">Análisis</a></li>
  <!-- <li><a href="#">Doc. General</a></li> -->
  <li><a href="{% static 'archivos/DCU.pdf' %}" target="_blank">Casos de Uso</a></li>
  <li><a href="{% static 'archivos/RF.pdf' %}" target="_blank">RF</a></li>
  <li><a href="{% static 'archivos/RNF.pdf' %}" target="_blank">RNF</a></li>
  <li><a href="{% static 'archivos/AmuseDB.png' %}" target="_blank">Base de Datos</a></li>
  <li><a href="{% static 'archivos/Prototipos.pdf' %}" target="_blank">Diseño</a></li>
  <!-- <li><a href="#!">Pruebas</a></li> -->
  <!-- <li><a href="#!">Video</a></li> -->
  <!-- <li class="divider"></li> -->
  <!-- <li><a href="#!">Preguntas</a></li> -->
</ul>


<nav>
    <div class="nav-wrapper">
      <a href="{% url 'generales:inicial' %}" id="logo" class="brand-logo">
           <img src="{% static 'img/logoAmuse.png'%}">
      </a>

      <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'generales:inicial' %}"><i class="material-icons left">home</i>Inicio</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">web</i>Proyecto
        <i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="{% url 'generales:nuestraHistoria' %}"><i class="material-icons left">access_time</i>Nuestra Historia</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'personas:registro_aspirantes' %}"><i class="material-icons left">assignment_ind</i>Registrarse</a></li>
        <li><a href="{% url 'cuentas:login' %}"><i class="material-icons left">account_balance_wallet</i>Iniciar Sesión</a></li>
        {% else %}
        <li><a href="{% url 'generales:home' %}"><i class="material-icons left">view_module</i>Amuse</a></li>
        <li><a href="{% url 'cuentas:logout' %}"><i class="material-icons left">account_balance_wallet</i>Cerrar Sesión</a></li>
        {% endif %}
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'generales:inicial' %}"><i class="material-icons">home</i>Inicio</a></li>
        <li><a href=" " class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons left">web</i>Proyecto</a></li>
        <li><a href="{% url 'generales:nuestraHistoria' %}"><i class="material-icons">access_time</i>Nuestra Historia</a></li>
        <!--<li><a href=""><i class="material-icons">view_module</i>Galería</a></li>-->
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'personas:registro_aspirantes' %}"><i class="material-icons">assignment_ind</i>Registrarse</a></li>
        <li><a href="{% url 'cuentas:login' %}"><i class="material-icons">account_balance_wallet</i>Iniciar Sesión</a></li>
        {% else %}
        <li><a href="{% url 'cuentas:logout' %}"><i class="material-icons">account_balance_wallet</i>Cerrar Sesión</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
   </header>
    {% block body %}

<!-- Revisar NO funciona-->
<div class="container">
  <div class="slider">
    <ul class="slides">
        {% for proyecto in proyectos %}
        <li class="">
          <img src="{{ proyecto.imagen.url }}">
          <div class="caption left-align">
            <h1>{{proyecto.nombre}}</h1>
              <h3>{{proyecto.autor}}</h3>
              <h4>Lugar:{{proyecto.lugar}}</h4>
              <h4>Fecha:{{proyecto.fecha_interpretacion}}</h4>
              <h5 class="light grey-text text-lighten-3">{{proyecto.descripcion}}</h5>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <ul class="indicators">
      <li class="indicator-item"></li>
      <li class="indicator-item active"></li>
      <li class="indicator-item"></li>
    </ul>
  </div>
<!--
    <div class="container">
    <div class="slider">
      <ul class="slides">
        <li class="">
          <img src="https://images.unsplash.com/photo-1464817739973-0128fe77aaa1?dpr=1&auto=compress,format&fit=crop&w=1199">
          <div class="caption center-align" style="opacity: 0; transform: translateY(-100px) translateX(0px);">
            <h3>¡Este es nuestro gran lema!</h3>
            <h5> Aquí está nuestro pequeño lema</h5>
          </div>
        </li>
      </ul>
    </div>
    <ul class="indicators">
      <li class="indicator-item"></li>
      <li class="indicator-item active"></li>
      <li class="indicator-item"></li>
    </ul>
  </div>-->

   <!--<div class="container">
 <div id="index-banner" class="parallax-container">
   <img src="http://ec2-34-237-179-64.compute-1.amazonaws.com/media/proyectos/carta.jpg">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
  </div>
   </div>-->

<div class="container">
  <div class="slider">
    <div class="col s12 m12" style="display:flex !important;">
    <div class="row">
      <div class="col s11 m12">
        <div class="small card">
          <div class="card-image">
            <img src="{% static 'img/teatro.jpeg'%}">
              <span class="card-title">Teatro</span>
          </div>
          <div class="card-content">
            <p>"El teatro es la poesía que se levanta del libro y se hace humana". Federico Lorca</p>
          </div>
          <div class="card-action">
            <a href="{% url 'generales:teatro' %}">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s11 m10 offset-m1">
        <div class="small card">
          <div class="card-image">
            <img src="{% static 'img/danza.jpg'%}">
              <span class="card-title">Danza</span>
          </div>
          <div class="card-content">
            <p>"La danza es el lenguaje secreto del alma". Martha Graham</p>
          </div>
          <div class="card-action">
            <a href="{% url 'generales:danza' %}">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s11 m12">
        <div class="small card">
          <div class="card-image">
            <img src="{% static 'img/musica.jpg'%}">
              <span class="card-title">Música</span>
          </div>
          <div class="card-content">
            <p>"La música puede dar nombre a lo innombrable y comunicar lo desconocido". Leonard Bernstein</p>
          </div>
          <div class="card-action">
            <a href="{% url 'generales:musica' %}">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
 {% endblock body %}

<footer class="page-footer" style="background-color: #5d2222 !important;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12 m12">
                <center><h5 class="white-text">© 2017 Copyright: AMUSE Corporacion Cultural Tierra y Fuego</h5></center>
                <center><p class="grey-text text-lighten-4">corpculturaltierrayfuego@gmail.com</p></center>
              </div>
              <div class="col l2 offset-l1 s2 offset-s5">
                <center><h5 class="white-text">Siguenos en:</h5></center>
                <ul>
                <center> <li><a href="https://www.facebook.com/tierra.fuego.750" title=""><i class="fa fa-facebook fa-2x"></i></a></li></center>
								<center> <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-twitter fa-2x"></i></a></li></center>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">

            <a class="grey-text text-lighten-4 right" href="#!"> </a>
            </div>
          </div>
        </footer>

  <script src="{% static 'vendors/js/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/js/js.js' %}"></script>
  <script src="{% static 'vendors/js/chosen.jquery.min.js' %}"></script>
  <script src="{% static 'vendors/materialize/js/materialize.min.js' %}"></script>
  <script src="{% static 'vendors/datatables/DataTables-1.10.16/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables/DataTables-1.10.16/js/dataTables.semanticui.min.js' %}"></script>
  <script src="{% static 'vendors/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'vendors/js/sweetalert.min.js' %}"></script>
  <script src="{% static 'vendors/js/script.js' %}"></script>
  <script>
       $(".button-collapse").sideNav();
    </script>
    <script>
      $(document).ready(function(){
      $('.carousel').carousel();
    });
    </script>
    <script>
           $(document).ready(function(){
      $('.slider').slider();
    });
    </script>

  </body>
</html>
