{% extends 'base.html' %}

{% block body %}
<div class="row" style="margin-left: 10px;">
  <div class="col-xs-12">
    <h3>Personajes:</h3>
    <hr>
  </div>
</div>
<table class="table datatables">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Proyecto</th>
      <th>Inteprete</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ object.nombre }}</td>
        <td>{{ object.descripcion }}</td>
        <td>{{ object.proyecto.nombre }}</td>
        <td>{{ object.persona.get_nombre_completo }}</td>
        <td>
          {% if object.estado %}
            Activo
          {% else %}
            Inactivo
          {% endif %}
        </td>
        <td>
          {% if 'proyectos.change_personaje' in request.user.get_all_permissions %}
          <a href="{% url 'proyectos:modificar_personaje' object.proyecto.pk object.pk %}" class="btn btn-sm btn-warning {% if not object.estado %}disabled" disabled="disabled {% else %} {% endif %}"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if 'proyectos.delete_proyecto' in request.user.get_all_permissions %}
          <a href="{% url 'proyectos:eliminar' object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled {% else %} {% endif %}"><i class="fa fa-trash"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock body %}