{% extends 'base.html' %}

{% block seccion %}
  Proyectos
{% endblock seccion %}

{% block opciones %}
<li><a href="{% url 'proyectos:agregar' %}"><i class="material-icons left">add</i> Agregar</a></li>
{% endblock opciones %}

{% block body %}
    <table class="striped datatables ui celled table">
      <thead>
        <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Director</th>
      <th>Fecha de inicio</th>
      <th>Fecha de presentación</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ object.nombre }}</td>
        <td>{{ object.director }}</td>
        <td>{{ object.fecha_creacion|date:'d/m/Y' }}</td>
        <td>{{ object.fecha_interpretacion|date:'d/m/Y' }}</td>
        <td>
          {% if object.estado %}
            Activo
          {% else %}
            Inactivo
          {% endif %}
        </td>
        <td style="width: 175px;">
          {% if 'proyectos.add_personaje' in request.user.get_all_permissions %}
          <!--<a href="{% url 'proyectos:agregar_personaje' object.pk %}" class="btn btn-sm btn-info"><i class="fa fa-user-plus"></i></a>-->
           <a href="{% url 'proyectos:agregar_personaje' object.pk %}"  class="btn btn-sm btn-info" role="button"
            style="width: 0px !important; height: 35px !important; border-radius: 10px !important;">                  
            <i class="fa fa-user-plus" style="margin-left: -7px;"></i></a>
          {% endif %}
          {% if 'proyectos.change_proyecto' in request.user.get_all_permissions %}
          <!--<a href="{% url 'proyectos:editar' object.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>-->
           <a href="{% url 'proyectos:editar' object.pk %}" class="btn btn-sm btn-warning" role="button"
            style="background-color: rgba(255, 69, 0, 0.7); width: 0px !important; height: 35px !important; border-radius: 10px !important;">                  
            <i class="fa fa-edit" style="margin-left: -7px;"></i></a>
          {% endif %}
          {% if 'proyectos.delete_proyecto' in request.user.get_all_permissions %}
          <!--<a href="{% url 'proyectos:eliminar' object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled {% else %} {% endif %}"><i class="fa fa-trash"></i></a>-->
          <a href="{% url 'proyectos:eliminar' object.pk %}" class="btn btn-sm btn-danger {% if not object.estado %}disabled" disabled="disabled {% else %} {% endif %}" role="button"
          style="background-color: #db2828; width: 0px !important; height: 35px !important; border-radius: 10px !important;">                  
          <i class="fa fa-trash" style="margin-left: -7px;"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}