{% extends 'index.html' %}

{% load static %}

   {% block body %}
    <style>
      body {
              background-image: url('{% static "img/fondoLogin.png" %}');
              background-repeat: no-repeat; 
              background-position-x: 0px;
            }
    </style>

        

 <main style="margin-top: -7px;">
          <div class="login container">
             <div class="card"  id="login-card">
               <div class="card-content">
    

<form method="POST">{% csrf_token %}
            <div class="col s12 m12" style="opacity: 0.9;">
              <div class="row" style="margin-top:-50px;">
                <div class="col s6 m12">
                    <img class="responsive-img" src="{% static 'img/titulo.png' %}"/>
                </div>
              </div>
              
        
              <div class="row">
              <div class="row col s12 m12">
              <div class="col s12 m10">
                <div class="col s1 m1">
                  <i class="material-icons" style="margin-top: 20px! important;">account_box</i>
                </div>
                <div class="col s10 m10">
                  <label for="{{ input.username.auto_id }}">
                    {{ form.username.label }}
                  </label>
                    <input class="form-control" type="text" placeholder="Usuario" name="{{ form.username.name }}">
                </div>
              </div>
              </div>
        
             <div class="row col s12 m12">
              <div class="col s12 m10">
                <div class="col s1 m1">
                   <i class="material-icons" style="margin-top: 20px! important;">lock</i>
                </div>
                <div class="col s10 m10">
                  <label for="{{ form.password.auto_id }}">
                    {{ form.password.label }}
                  </label>
                    <input id="{{ form.password.auto_id }}" class="form-control" type="password" placeholder="Contraseña" name="{{ form.password.name }}">
                </div>
              </div>
               </div>
                 </div>

              <center>
              <div class="row">
                <div class="col-12 text-center">
                  <center>
                    <button type="submit" class="btn btn-primary" style="border-radius: 20px !important;">
                      Iniciar sesión
                    </button>
                  </center>
                  <br><br>
                  <a href="{% url 'personas:registro_aspirantes' %}">
                    ¿No tienes cuenta? Inscríbete dando click aquí!
                  </a>
                </div>
              </div>
              </center>

          
          </div>
    <form>


           </div>
            </div>
          </div>
        </main>
 {% endblock body %}
